<div class="container">
  <div class="row">
    <div class="col-12 mt-4 ">
      <h3>주문 정보 확인</h3>

      <% @order.order_items.each do |item| %>
        <div class="card mt-3">
          <div class="card-body">
            <h5 class="card-title"><%=item.pack.product_name %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%=item.pack.company_name %></h6>
            <p class="card-text">수량: <%=item.quantity %></p>
            <a href="#" class="card-link">수정</a>
            <a href="#" class="card-link">삭제</a>
            <p class="card-text">가격: <%= item_to_currency(item) %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <h3>배송정보 입력</h3>
      <form action="">
        <div class="mb-3">
          <label for="" class="">받는 분 성함</label>
          <input type="text" class="form-control" id="name">
        </div>
        <div class="mb-3">
          <label for="" class="form-label">연락처</label>
          <input type="text" class="form-control" id="phone">
        </div>
        <div class="mb-3">
          <label for="" class="form-label">이메일</label>
          <input type="text" class="form-control" id="email">
        </div>

        <div class="mb-3">
          <label for="" class="d-block">주소</label>
          <a href="" class="btn btn-outline-dark mb-4" id="search_address_button">주소검색</a>
          <input type="text" class="form-control mt-3" id="post_code" name="post_code" placeholder="우편번호">
          <input type="text" class="form-control mt-3" id="address_1" name="address_1" placeholder="도로명주소">
          <input type="text" class="form-control mt-3" id="address_2" name="address_2" placeholder="상세주소">
        </div>
      </form>

    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12">
      <h3>결제 정보</h3>
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h5 class="card-title">주문금액 합계</h5>
            <p class="card-text"><%= number_to_currency(@order.product_price) %></p>
          </div>
          <div class="d-flex justify-content-between mt-3">
            <h5 class="card-title">배송비</h5>
            <p class="font-weight-bold">*15,000원 이상 주문 시 무료배송</p>
            <p class="card-text"><%= number_to_currency(@order.shipping_fee) %></p>
          </div>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-between mt-3">
            <h5 class="card-title">최종 결제 금액</h5>
            <p class="card-text"><%= number_to_currency(@order.total_price) %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <a href="#" class="btn btn-warning w-100 my-5 shadow">결제하기</a>
    </div>
  </div>
</div>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
  $("search_address_button").on("click", function (e){
      e.preventDefault();
  })

  function postCodePopUp(){
      new daum.Postcode({
          oncomplete: function(data) {
              $("#post_code").val(data.zonecode)
              $("#address_1").val(data.roadAddress)
              // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분입니다.
              // 예제를 참고하여 다양한 활용법을 확인해 보세요.
          }
      }).open();
  }
</script>