<div class="container">
  <nav aria-label="breadcrumb" class="mt-4">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Product Detail</a></li>
      <li class="breadcrumb-item active" aria-current="page"><%=@pack.product_name %></li>
    </ol>
  </nav>

  <div class="row mt-4">
    <div class="col-6">
      <% if @pack.image.attached? %>
        <img src="<%=url_for(@pack.image)%>" alt="" class="img-fluid">
      <% else %>
        <img src="https://via.placeholder.com/640x360?text=No+Image" alt="">
      <% end %>
    </div>
    <div class="col-6">
      <p><%=@pack.product_name %></p>
      <hr>
      <p><%=@pack.company_name %></p>
      <hr>
      <h5>설명</h5>
      <p><%=@pack.desc %></p>
    </div>
  </div>
</div>